.cart {
    padding-top: 114px;
}

.header__cart {
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: relative;
    width: 34px;
    height: 34px;
    z-index: 100;
}

.header__cart svg {
    width: 100%;
    height: 100%;
}

#cart-count {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -8px;
    right: -12px;
}

.body {
    font-family: "Montserrat", Arial, sans-serif;
}

.cart__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
}

.cart__remove {
    font-size: 16px;
    background: none;
}

.cart__total {
    padding-top: 30px;
    font-size: 25px;
}

.header__cart-delete {
    visibility: hidden;
}
