.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    z-index: 100;
    background: #ffffff9d;
    transition: transform 0.3s ease;
}

.header__title {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 700;
    z-index: 100;
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 40px;
    gap: 8px;
    z-index: 100;
}

.burger span {
    width: 100%;
    height: 3px;
    background: #000;
    transition: 0.3s;
    border-radius: 25px;
}

.burger span:first-child {
    width: 70%;
}

.burger span:last-child {
    width: 80%;
}

.header__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    background-color: #fff;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 99;
    padding: 90px 0 24px 0;
}

.header__nav a {
    display: block;
    padding: 15px 30px;
    color: #000;
    font-size: 25px;
    font-weight: 500;
}

.header__nav.active {
    transform: translateY(0);
}

/* Desktop: от 768px и выше */
@media (min-width: 768px) {
    .burger {
        display: none;
    }

    .header__nav {
        display: flex !important;
        position: static;
        flex-direction: row;
        background-color: transparent;
    }

    .header__nav li {
        border: none;
    }

    .header__nav a {
        padding: 10px 20px;
        color: white;
    }
}
