.menu {
    padding-bottom: 50px;
}

.menu__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.menu__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* две колонки одинаковой ширины */
    gap: 15px;
    margin-bottom: 40px;
}

.menu__col {
    width: 100%; /* чтобы занимал всю ширину своей ячейки */
}

.menu__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    width: 100%;
}

.menu__col-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu__col img {
    width: 100%;
    padding: 15px 15px 25px 15px;
}

.menu__col-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3px;
}

.menu__col-descr {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.menu__col-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.menu__col-price {
    font-size: 1.25rem;
}

.menu__col-btn {
    padding: 10px 18px;
    border-radius: 100px;
    font-size: 0.88rem;
    color: #fff;
    background-color: #120d4f;
}

.menu__col-btn:hover {
    background-color: #1c1672;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button.active {
    background-color: #120d4f;
    color: #fff;
}

@media (max-width: 410px) {
    .menu__cols {
        display: flex;
        flex-direction: column;
    }

    .menu__col img {
        width: 60%;
        margin: 0 auto;
    }

    .menu__col-title {
        font-size: 1.5rem;
    }

    .menu__col-descr {
        font-size: 1rem;
    }

    .menu__col-price {
        font-size: 1.5rem;
    }

    .menu__col-btn {
        font-size: 1.4rem;
    }
}
